/*Reseteo*/
* {
	margin: 0;
  	padding: 0;
 	text-decoration: none;
  	list-style-type: none;
}
/*Escritorio*/
/*Estilos generales*/
#html {
	font-family: 'Prata', sans-serif;
	font-size: 150%;
  	color: rgb(59 79 77);
}
.icono {
	height: 9vh;
	width: 110px;
	display: inline;
	position: fixed;
	top: 0px;
	left: 0px;
	background-size: cover;
	border-radius: 3px;
}
/*Comienzo menu encabezado*/
.nav {
	display: inline;
	width: 100%;
	height: 9vh;
	color: rgb(251 243 243);
	background-color: rgb(59 79 77);
	position: fixed;
	top: 0px;
	left: 110px;
}
nav ul li {
	display: inline-block;
	width: 15%;
	position: relative;
	left: 10%;
	top: 20px;
	font-size: 1.4rem;
	text-align: center;
	color: rgb(251 243 243);
}
nav ul li a {
	text-decoration: none;
	color: rgb(251 243 243);
}
/*Fin menu encabezado*/
/*Titulos y subtitulos*/
.titulosPrincipalesVerdes {
	text-align: center;	
	color: rgb(59 79 77);
	font-weight: bold;
	font-size: 2rem;
}
.titulosPrincipalesBlancos {
	text-align: center;	
	color: rgb(251 243 243);
	font-weight: bold;
	font-size: 2rem;
}
.titulosSecundariosVerdes {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;	
	color: rgb(59 79 77);
	font-weight: bold;
	font-size: 1.5rem;
}
.titulosSecundariosBlancos {
	text-align: center;	
	color: rgb(251 243 243);
	font-weight: bold;
	font-size: 1.5rem;
}
.subtitulosCentrados {
	text-align: center;	
	font-weight: normal;
	font-size: 1.5rem;
}
/*Imagenes*/	
.imagenesDerecha {
	padding: 10px;
	margin: 10px;  
	float: right; 
	width: 26rem;
	height: 15rem;
}
.imagenesIzquierda {
	padding: 10px;
	margin: 10px;  
	float: left; 
	width: 26rem;
	height: 15rem;
}
/*Textos*/
.textosDerecha {
	font-size: 1.2rem;
	padding: 10px;
	margin: 10px;
	text-align: right;
}	
.textosIzquierda {
	font-size: 1.2rem;
	padding: 10px;
	margin: 10px;
	text-align: left;
}
.centrar {
	text-align: center;
}
.fondoGris {
	background-color: rgb(159 165 164);
}
/*Animaciones*/
.animacionIconos:hover {
	transform: scale(1.25);
}
/*Index*/
/*Comienzo Seccion PrimeraVista*/
#PrimeraVista {
	background-image: url(../Img/edificios1.jpg);
	background-size: cover;
	width: 100%;
	height: 85vh;
	padding: 5px;
	margin-top: 79px;
}	
.tituloprincipal {
	background-color: rgb(159 165 164);
	text-align: center;	
	color: rgb(251 243 243);
	font-weight: bold;
	font-size: 2.5rem;
	margin-top: 200px;
	margin-bottom: 50px;
	padding: 5px;
}	
/*Comienzo submenu*/
.submenucentrado {
	display:flex;
    justify-content: center;
    align-items: center;
}	
ul {
	list-style:none;
}
#submenu > li {
	float:left;
}			
#submenu li a{
		background-color:rgb(59 79 77);
		color:rgb(251 243 243);
		font-size: 1.2rem;
		text-decoration:none;
		padding:10px 12px;
		display:block;
}	
#submenu li a:hover {
		background-color:rgb(159 165 164);
}					
#submenu li ul {
		display:none;
		position:absolute;
		width:231px;
}
#submenu li:hover > ul {
		display:block;
}			
#submenu li ul li {
		position:relative;
		width:209px;
		right: 48px;
}			
#submenu li ul li ul {
		top:0px;
}
/*Fin submenu*/
